.titlebar {
  display: flex;
  font-size: 32px;
  font-weight: bold;
  flex-direction: row;
  text-align: center;
  width: 100%;
  border-bottom: 1px solid lightblue;
  border-radius: 3px;
  background: #fff;
  box-sizing: border-box;
}

.titlebar__name {
  margin: 20px;
}
